[user]
	name = Vyacheslav Blinov
	email = blinov.vyacheslav@gmail.com
[color]
	ui = true

[merge]
	tool = opendiff

[core] 
	whitespace=-indent-with-non-tab,trailing-space,cr-at-eol,tab-in-indent
	excludesfile = /Users/dant3/.gitexcludes
	filemode = false

[diff "localizablestrings"]
	textconv = "iconv -f utf-16 -t utf-8"

[push]
	default = current
[gui]
	gcwarning = false
[pull]
	rebase = false
[rebase]
	autoStash = true
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[fsck]
	zeroPaddedFilemode = ignore
[status]
	submodulesummary = 1
